h1 {
    font-size: 60px;
    font-family:'Julius Sans One', serif;
    color:navy;
    text-align:center;
}

#biografia {
    font-family:'Gideon Roman', Times, serif;
    font-size:30px;
    text-align:justify;
    padding-right: 30px;
    left: 450px;
    right:60px;
    position:absolute;
}

#carreira {
    font-size:50px
}

body {
    background-color:#90E0EF;
    color:navy;
    padding:50px;
}

strong {
    font-style:italic;
    text-decoration: dotted;
    color:blueviolet;
}

.ingles {
    font-size:39px;
}

.espanhol {
    font-size:38px;
}

.contas {
    font-size:37px;
}

.xadrez {
    font-size:36px;
}

.cervejas {
    font-size:35px;
}

#habilidades {
    font-size:40px;
    text-decoration:underline;
}

#photo {
    border-radius:1%;
    width:20%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    float:left;
    height: 280px;
    padding: 10px;
    background-color: darkslategray;
}

#voltar-photo {
    font-size:30px;
}

#reveja {
    font-size:40px;
    text-decoration:underline;
}

.coisas {
    font-size:30px;
    text-decoration:none;
    color:navy;
}

div {
    border: navy solid 2px;
}

.image-container {
    height:300px;
}

.ingles, .contas, .cervejas {
    background-color: cornflowerblue;
}