h1 {
    font-size: 60px;
    font-family:'Julius Sans One', serif;
    color:navy;
    text-align:center;
}
#biografia {
    font-family:'Gideon Roman', Times, serif;
    font-size:50px;
    text-align:justify;
}
#carreira {
    font-size:50px
}
body {
    background-color:#90E0EF;
    color:navy;
    padding:50px;
}
strong {
    font-style:italic;
    text-decoration: dotted;
    color:blueviolet;
}
.ingles {
    font-size:39px;
}
.espanhol {
    font-size:38px;
}
.contas {
    font-size:37px;
}
.xadrez {
    font-size:36px;
}
.cervejas {
    font-size:35px;
}
#habilidades {
    font-size:40px;
    text-decoration:underline;
}
#photo {
    border-radius:30%;
    width:20%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#voltar-photo {
    font-size:30px;
}
#reveja {
    font-size:40px;
    text-decoration:underline;
}
.coisas {
    font-size:30px;
    text-decoration:none;
    color:navy;
}